Repository sihyonn/sprint-part2-rollingProject, pull requests merged in 2024-02, with the labels that each got.

#4 develop 브랜치 생성, README 업데이트
  README.md
  src/pages/TestPage.jsx
Labels: documentation📃

#5 test용 페이지 생성
  src/pages/Choi.jsx
  src/pages/Hi.jsx
  src/pages/Sh.jsx
  src/pages/Yj.jsx
  src/router.js
  src/styles/theme.js
Labels: enhancement✨

#6 Gnb 공통 컴포넌트 생성
  src/components/common/Gnb.jsx
Labels: enhancement✨, common👨‍👨‍👧‍👧

#10 Feat: Option 컴포넌트 추가 및 사용하는 svg 추가
  src/assets/RollingIcon.svg
  src/assets/checkIcon.svg
  src/assets/plusIcon.svg
  src/components/common/CardSample.jsx
  src/components/common/Option.jsx
Labels: enhancement✨, common👨‍👨‍👧‍👧

#21 공통 Primary 버튼 구현
  src/components/common/button/Button.jsx
  src/pages/Sh.jsx
  src/styles/buttonStyleBySize.js
Labels: enhancement✨, common👨‍👨‍👧‍👧

#23 Feat: Input 컴포넌트 구현
  src/components/common/Input.jsx
  src/constants/PLACEHOLDER.js
  src/styles/theme.js
Labels: enhancement✨, common👨‍👨‍👧‍👧

#24 Feat:이모지 뱃지 구현
  src/components/common/EmojiBadge.jsx
  src/pages/Hi.jsx
Labels: enhancement✨, common👨‍👨‍👧‍👧

#37 프로젝트 페이지 생성 및 라우터 세팅
  src/components/common/Input.jsx
  src/components/template/Layout.jsx
  src/constants/routes.js
  src/pages/CreatePaperPage.jsx
  src/pages/Hi.jsx
  src/pages/MainPage.jsx
  src/pages/PaperEditPage.jsx
  src/pages/PaperListPage.jsx
  src/pages/PaperViewerPage.jsx
  src/pages/WirteMessagePage.jsx
  src/router.js
Labels: enhancement✨

#33 공통 Outlined 버튼 구현
  src/assets/icon/AddIcon.jsx
  src/assets/icon/DeleteIcon.jsx
  src/assets/icon/ShareIcon.jsx
  src/components/common/button/OutlinedButton.jsx
Labels: enhancement✨, common👨‍👨‍👧‍👧

#39 Fix: IconButton 위치 변경
  src/components/common/button/IconButton.jsx
Labels: fix

#34 Fix: cardsample 및 Option 수정 feat#7
  src/components/common/CardSample.jsx
  src/components/common/Option.jsx
Labels: fix

#18 Feat: 컬러, 이미지 ToggleButton 구현
  src/components/common/ToggleButton.jsx
  src/pages/Yj.jsx
Labels: enhancement✨, common👨‍👨‍👧‍👧

#32 Feat: 폰트, 관계에 사용되는 Dropdown 구현
  src/assets/dropDownIcon.svg
  src/assets/dropUpIcon.svg
  src/components/common/Dropdown.jsx
  src/constants/DROPDOWN_DATA.js
Labels: enhancement✨, common👨‍👨‍👧‍👧

#25 이모지박스 및 Url 공유 기능 구현
  package-lock.json
  package.json
  public/index.html
  src/App.jsx
  src/assets/addIcon.svg
  src/assets/arrowdownIcon.svg
  src/assets/closeIcon.svg
  src/assets/completedIcon.svg
  src/assets/shareIcon.svg
  src/components/common/EmojiCountList.jsx
  src/components/common/Toast.jsx
  src/components/common/button/OutlinedButton.jsx
  src/components/header/EmojiAddButton.jsx
  src/components/header/EmojiExpand.jsx
  src/components/header/EmojiList.jsx
  src/components/header/EmojiOption.jsx
  src/components/header/EmojiShare.jsx
  src/components/header/SharedButton.jsx
  src/components/header/SharedOption.jsx
  src/pages/Choi.jsx
Labels: enhancement✨, common👨‍👨‍👧‍👧

#38 Feat: 프로필 리스트
  src/assets/profileBackgroundIcon.svg
  src/components/common/header/ProfileBadgeCount.jsx
  src/components/common/header/ProfileBadgeFirst.jsx
  src/components/common/header/ProfileBadgeSecond.jsx
  src/components/common/header/ProfileBadgeThird.jsx
  src/components/common/header/ProfileList.jsx
Labels: enhancement✨, common👨‍👨‍👧‍👧

#45 메인, 리스트, 롤링페이퍼 생성, 메세지 작성페이지 반응형 레이아웃 구현
  src/components/common/Gnb.jsx
  src/components/template/Layout.jsx
  src/components/template/MainLayout.jsx
  src/components/template/PaperCreationLayout.jsx
  src/hooks/useMobile.js
  src/router.js
Labels: enhancement✨

#47 Fix: 프로필 리스트 파일 위치 변경
  src/components/header/ProfileBadgeCount.jsx
  src/components/header/ProfileBadgeFirst.jsx
  src/components/header/ProfileBadgeSecond.jsx
  src/components/header/ProfileBadgeThird.jsx
  src/components/header/ProfileList.jsx
Labels: bug🐞

#31 Card컴포넌트
  src/components/common/Card.jsx
Labels: enhancement✨, common👨‍👨‍👧‍👧

#48 Feat#40 header 구현
  src/components/common/EmojiCountList.jsx
  src/components/common/Gnb.jsx
  src/components/common/RelationBadge.jsx
  src/components/common/button/OutlinedButton.jsx
  src/components/header/EmojiAddButton.jsx
  src/components/header/EmojiExpand.jsx
  src/components/header/EmojiList.jsx
  src/components/header/EmojiOption.jsx
  src/components/header/EmojiShare.jsx
  src/components/header/Header.jsx
  src/components/header/ProfileBadgeFirst.jsx
  src/components/header/ProfileBadgeSecond.jsx
  src/components/header/ProfileBadgeThird.jsx
  src/components/header/ProfileEmojiShare.jsx
  src/components/header/ProfileList.jsx
  src/components/header/SharedOption.jsx
  src/pages/Choi.jsx
Labels: enhancement✨, common👨‍👨‍👧‍👧

#50 텍스트 편집기 구현
  package-lock.json
  package.json
  src/components/common/TextEditor.jsx
  src/styles/quill.custom.css
Labels: enhancement✨, common👨‍👨‍👧‍👧
